.container {
  margin: 0px !important;
  border-width: 0px !important;
  padding-top: 0px !important;
}

.noItems{
  display: none !important;
}

.brandingImgWrap{
  margin-top: 16px !important;
  margin-left: 32px !important;
}

.locationPane{
  background-color: white !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.nav-link{
  margin-top: 16px !important;
  border-radius: 5px 5px 5px 5px;
  background-color: #ececec !important;
  color: #444444 !important;
}
